@page "/resources"

@using ProjectManagementSystem.Data.Resources
@inject ResourceService ResourceService

@code {
    private List<Resource> resources;
    bool resourceList;
    bool createResource;
    bool resourceDetails;

    protected override async Task OnInitializedAsync()
    {
        resources = await ResourceService.GetResourcesAsync();
        resourceList = true;
        createResource = false;
        resourceDetails = false;
    }


}

@if (resources == null)
{
    <p><em>Loading...</em></p>
}
else if (resourceList)
{
    <h1>Resource List Page</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Resource Name</th>
                <th>Resource Title</th>
                <th>Assigned Task</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resource in resources)
            {
                <tr>
                    <td>@resource.Name</td>
                    <td>@resource.Title</td>
                    <td>@resource.AssignedTask</td>
                    <td><button>Edit</button></td>
                    <td><button>Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else if (createResource)
{
    <h1>Create Resource</h1>
}
else if (resourceDetails)
{
    <h1>Resource Details</h1>
}



