@page "/action-items/tabular"

<h1>Tabular View</h1>

@code {

}


<div style="padding-left:75px">
    <Figure Size="FigureSize.None">
        <FigureImage Source="\assets\images\actionItem.png" AlternateText="Tabular View" />
    </Figure>
</div>