@page "/tasks/gantt"

<h1>Gantt Chart</h1>

@code {

}
<div style="padding-left:350px">
    <Figure Size="FigureSize.None">
        <FigureImage Source="\assets\images\GanttChart.png" AlternateText="Gantt Chart" />        
    </Figure>
</div>
