@page "/tasks/tabular"

<h1>Tabular View</h1>

@code {

}


<div style="padding-left:225px">
    <Figure Size="FigureSize.None">
        <FigureImage Source="\assets\images\TabularView.png" AlternateText="Tabular View" />
    </Figure>
</div>